<html>
    <head><title>Vulkan features GPU Database</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
    </style>
    </head>
    <body>
    <h2><center>Welcome to the application you can logout <a href="{{ logout_url }}">here</a></center></h2>
      <form action = "/search" method ="get">
        <p>  geometryShader                              : <input type = "checkbox" name="geometryShader" {% if geometryShader %} checked {% endif %}  /></p>
        <p>  tesselationShader                           : <input type = "checkbox" name="tesselationShader" {% if tesselationShader %} checked {% endif %} /></p>
        <p>  shaderInt16                                 : <input type = "checkbox" name="shaderInt16" {% if shaderInt16 %} checked {% endif %}/></p>
        <p>  sparseBinding                               : <input type = "checkbox" name="sparseBinding" {% if sparseBinding %} checked {% endif %}/></p>
        <p>  textureCompressionETC2                      : <input type = "checkbox" name="textureCompressionETC2" {% if textureCompressionETC2 %} checked {% endif %}/></p>
        <p>  vertexPipelineStoresAndAtomics              : <input type = "checkbox" name="vertexPipelineStoresAndAtomics" {% if vertexPipelineStoresAndAtomics %} checked {% endif %}/></p>
        <p>  <input type = "submit" value = "Search" name="button"><br>
      </form>
  </body>
</html>
